.presentationSection {
    background-color: #054998;
    /* height: 100vh; */
    width: 100vw;
}

.presentationSection * {
    margin-top: 0;
}

.presentationSection .presentationContainer {
    /* background-color: #e1da1e; */
    /* background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../public//bob-blue.jpeg'); */
    height: 60vh;
    display: flex;
    color: #e1da1e;
    font-size: 1.25rem;
}

.presentationSection .presentationContainer .presentationImage, .presentationDescription {
    flex-basis: 50%;
}

.presentationDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
}

.presentationImage {
    position: relative;
    background-color: #054998;
}

.presentationImage .imageBob {
    position: absolute;
    object-fit: cover;
}

/* Inversed */

.presentationContainerVariant {
    display: flex;
    /* background-color: green; */
    background-color: #054998;
    height: 60vh;
    color: #e1da1e;
    font-size: 1.25rem;
    /* background-repeat: no-repeat; 
    background-size: cover;
    background-image: url('../../public//bob-blue.jpeg'); */
}

.presentationContainerVariant p {
    padding: 1rem;
}

.presentationSection .presentationContainerVariant .presentationImage, .presentationDescription {
    flex-basis: 50%;

}

.presentationDescription h1 {
    font-size: 2rem;
    text-align: left;
    /* background-color: red; */
    width: 90%;
}

.presentationDescription p {
    font-size: 1rem;
    text-align: left;
    width: 90%;
    line-height: 1.9rem;
}